@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-light {
    @apply px-5 py-2 box-content inline-block rounded-md text-sm font-medium text-red-100 bg-transparent outline-none border border-red-600 transition-all;
  }
  .btn-light:focus {
    @apply outline-none m-0 border-2 border-red-200;
  }
  .btn-light:hover {
    @apply m-0  border-2 border-red-800 text-red-300;
  }
  .btn-light:active {
    @apply border-gray-900 text-gray-900;
  }
}

.responsive-full {
  @apply py-4 sm:py-6 px-8 lg:px-16 xl:px-24 2xl:px-32;
}

.responsive-contained {
  @apply py-4 sm:py-6 px-8 lg:px-32 xl:px-64 2xl:px-96;
}

.readable {
  max-width: 900em;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --site-color: red;
  --divider-color: rgba(0, 0, 0, 0.4);
}

html {
  font: 100%/1.5 system-ui;
}

a:hover {
  @apply text-red-500;
  text-decoration-color: currentcolor;
}
