@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f2e7;
  --background-secondary: #f5d1be;
  --text-primary: #191919;
  --text-secondary: #b8ad9a;
  --accent-primary: #ea5959;
  --accent-secondary: #789c8d;
}

@layer components {
  .btn {
    @apply px-5 py-2 inline-block box-content rounded-md text-sm font-medium bg-transparent outline-none border text-accentPrimary border-accentPrimary transition-all;
  }
  .btn:hover {
    @apply text-bgPrimary bg-accentPrimary transition-all duration-75;
  }
  .full-container {
    @apply max-w-6xl mx-auto px-4;
  }
}

.readable {
  width: 80rem;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

html {
  font: 100%/1.5;
  font-family: 'Source Sans Pro', 'ui-sans-serif', 'system-ui', '-apple-system',
    'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  overflow-x: hidden;
  background-color: var(--background);
}

a {
  cursor: pointer;
}
